<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <input type="text" id="palavra">
    <button onclick="enviar()">Enviar</button>
    <hr>
    <p id="resultado"></p> -->
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js" integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var socket = io("http://localhost:3000");
    socket.on("disconnect", () => {
        console.log("Desconectado");
    })

    /*
    <!-- socket.emit("boasvindas",{nome: "Guilherme Corrêa"})

    socket.on("resultado", (data) => {
        console.log(data);

        var p = document.getElementById("resultado");
        p.innerHTML = data;
    })

    function enviar(){
        var input = document.getElementById("palavra");;
        socket.emit("palavra",input.value);
    } -->
    */

</script>
</html>