<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: red">AGORA SIM EIN!</h1>
    <hr>
    <p>CONTEUDO PDF</p>
    <P>NOME: <%= nome %></P>
    <P>CURSO: <%= curso %></P>
    <P>CATEGORIA: <%= categoria %></P>
</body>
</html>